    /*header style*/
header {
   text-align: center; 
   padding: 20px;
}
/*navigation menu style*/
font-size: 25px;

nav {
	 margin:auto;
	 text-align: center;
	 width: 100%;
	} 

	nav ul ul {
	 display: none;
	}

	nav ul li:hover > ul{
	display: block;
	width: 300px;
	}

	nav ul {
	 background: #3e3e3e;
	 padding: 0 20px;
	 list-style: none;
	 position: relative;
	 display: inline-table;
	 width: 100%;
	}

	nav ul:after {
	 content: ""; 
	 clear:both; 
	 display: block;
	}

	nav ul li{
	 float:left;
	}

	nav ul li:hover{
	 background:#666;
	}

	nav ul li:hover a{
	 color:#fff;
	}

	nav ul li a{
	 display: block;
	 padding: 25px;
	 color: #fff;
	 text-decoration: none;
	}

	nav ul ul{
	 background: #3e3e3e;
	 border-radius: 0px;
	 padding: 0;
	 position: absolute;
	 top:100%;
	}

	nav ul ul li{
	 float:none;
	 border-top: 1px soild #d9e7e8;
	 border-bottom: 1px solid #d9e7e8;
	 position: relative;
	}

	nav ul ul li a{
	 padding: 15px 40px;
	 color: #fff;
	}

	nav ul ul li a:hover{
	 background-color: #666;
	}

	nav ul ul ul{
	 position: absolute;
	 left: 100%;
	 top: 0;
	}
/*creating the two-column layout*/
*{
   box-sizing: border-box;
}
.row {
   display: flex;
   flex-wrap: wrap;
}
.post-text-box {
   flex: 70%;
   padding: 20px;
}
.profile {
   flex: 70%;
   padding: 20px;
}
/*profile image and heading style*/
.profile img {
   width: 120px;
   display: block;
   margin-left: 0;
   margin-right: 0;
}
.profile h1 {
   text-align: center;

}

